[submodule "extern/LibCommon"]
	path = extern/LibCommon
	url = https://github.com/SoPra-Team-17/LibCommon.git
[submodule "extern/WebsocketCPP"]
	path = extern/WebsocketCPP
	url = https://github.com/SoPra-Team-17/WebsocketCPP.git
